name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Zig
        uses: mlugg/setup-zig@v1
        with:
          version: 0.15.2

      - name: Zig version
        run: zig version

      - name: Build
        run: zig build

      - name: Test
        run: zig build test

      - name: Smoke
        run: make smoke
